<div class="lp-container">
    <div class="lp-background-img">
        <div class="lp-action btn animated rubberBand">
            <a href="/products">- 探索美味 -</a>
        </div>
    </div>
</div>
<div class="remen-title">
    <h1> 今日推荐 </h1>
    <p>
        <a href="/">水果</a>
        <a href="/">干果</a>
        <a href="/">粮食</a>
        <a href="/">零食</a>
        <span>|</span>
        <a href="/">更多></a>
    </p>
</div>
<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcwupuv1q1j30qo0zkgqi.jpg" alt="Paris" width="400" height="300">
                    <p><strong>山东大樱桃</strong></p>
                    <p>¥20/kg</p>
                    <p>北京科技大学<a href="/"> 于飞 </a>同学推荐</p>
                    <button class="btn card-btn" data-toggle="modal" data-target="#myModal">马上订购</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcwvhee1jgj30nm0viq8q.jpg" alt="New York" width="400" height="300">
                    <p><strong>烟台富士苹果</strong></p>
                    <p>¥8/kg</p>
                    <p>北京科技大学<a href="/"> 曲帅帅 </a>同学推荐</p>
                    <button class="btn card-btn" data-toggle="modal" data-target="#myModal">马上订购</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcwvf3o91fj30nm0vitda.jpg" alt="San Francisco" width="400" height="300">
                    <p><strong>东北五常大米</strong></p>
                    <p>¥30/kg</p>
                    <p>牡丹江师范学院<a href="/"> 杨倩 </a>同学推荐</p>
                    <button class="btn card-btn" data-toggle="modal" data-target="#myModal">马上订购</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>Products</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Products</label>
                            <input type="number" class="form-control" id="psw" placeholder="How many?">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
                            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-block">Pay
														<span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
										</button>
                    <p>Need <a href="#">help?</a></p>
                </div>
            </div>
        </div>
    </div>
<!---------------------------more-box--------------------------->
	<div class="more-box">
			<a href="/">浏览更多...</a>
	</div>
</div>
<div class="remen-title">
    <h1> 老同学的推荐 最真诚的保证 </h1>
    <p>只为把家乡最好的东西带给同学们一起分享！</p>
</div>



<div class="banner">
    <ul class="banList">
        <li class="active"><a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank"><img src="http://zcr7.ncfstatic.com/attachment/201702/23/10/1487818409.jpg"/></a></li>
        <li><a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank"><img src="http://zcr7.ncfstatic.com/attachment/201702/23/10/1487818409.jpg"/></a></li>
        <li><a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank"><img src="http://zcr7.ncfstatic.com/attachment/201702/23/10/1487818409.jpg"/></a></li>
    </ul>
    <div class="fomW">
        <div class="jsNav">
            <a href="javascript:;" class="trigger current"></a>
            <a href="javascript:;" class="trigger"></a>
            <a href="javascript:;" class="trigger"></a>
        </div>
    </div>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center bot">
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center"><strong>于飞</strong></p>
            <br>
            <a href="#demo" data-toggle="collapse">
                <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcwud686lgj30jp0jp41j.jpg" class="img-circle person" alt="Random Name">
            </a>
            <div id="demo" class="collapse">
                <p>北京科技大学2015级MBA</p>
                <p>家乡山东海阳市</p>
                <p>家乡特产：自家产山东大樱桃&白玉黄瓜</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>曲帅帅</strong></p>
            <br>
            <a href="#demo2" data-toggle="collapse">
                <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcwrmrxm15j30jn0jpdj0.jpg" class="img-circle person" alt="Random Name">
            </a>
            <div id="demo2" class="collapse">
                <p>北京科技大学2015级MBA</p>
                <p>家乡山东烟台市</p>
                <p>家乡特产：自家果园正宗山东烟台苹果</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>杨倩</strong></p>
            <br>
            <a href="#demo3" data-toggle="collapse">
                <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcwrmudxf8j30jp0jpmzd.jpg" class="img-circle person" alt="Random Name">
            </a>
            <div id="demo3" class="collapse">
                <p>牡丹江师范学院2003级商务英语</p>
                <p>家乡黑龙江省五常市</p>
                <p>家乡特产：黑龙江五常东北自流水大米</p>
            </div>
        </div>
    </div>
</div>
<!-- Container (Contact Section)
<div id="contact" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>We are classmates !</em></p>
    <div class="row">
        <div class="col-md-4">
            <p>北京市</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>北京市, 中国🇨🇳</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: mabel0725@gmail.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
