<footer class="container" id="SweetTreat-foot">
  <p>
    <a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank">关于我们</a>
    <a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank">联系我们</a>
    <a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank">服务协议</a>
    <a href="https://fullstack.xinshengdaxue.com/works/243" target="_blank">帮助中心</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <span>|</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2017 SweetTreat, Inc. All Rights Reserved</span>
  </p>
</footer>
